<div class="modal" *ngIf="form">
  <h3>Visualizar Usuario</h3>
  <input [(ngModel)]="formId" [disabled]="true" placeholder="Id" required>
  <input [(ngModel)]="formUser" [disabled]="visualizar" placeholder="Username" required>
  <input [(ngModel)]="formEmail" [disabled]="visualizar" placeholder="E-mail" required>
  <div mat-dialog-actions>
    <button mat-button mat-dialog-close>Fechar</button>
    <button mat-button (click)="salvarUsuario()" *ngIf="editar || cadastrar">Salvar</button>
  </div>
</div>
<div class="modal" *ngIf="mensageria">
  <div class="mensageria">
    <div>
      <strong>
        <h4>Usuario {{data.usuario.username}} deletado com sucesso!</h4>
      </strong>
    </div>
    <div mat-dialog-actions>
      <button mat-button (click)="fechar()">Fechar</button>
    </div>
  </div>
</div>


